<%- include("partials/header.ejs") %>
  
<div class="jumbotron centered " style="padding-top: 15px;">
    <div class="container">
        <i class="bi bi-journal-bookmark-fill fa-6x"></i>
      <h1 class="display-3">Notes</h1>
      <p class="lead">Unlock the power of organization and expression with our note app!</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
      <a class="btn  btn-lg" style="background-color: #4fd0c7;color:white;" onmouseover="this.style.backgroundColor='#15ada3'" onmouseout="this.style.backgroundColor='#4fd0c7'" href="/login" role="button">Login</a>
  
    </div>
  </div>

<%- include("partials/footer.ejs") %>